<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ironkaran.ironkaran">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".application.IronkaranApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LivePageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BranchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".LivePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LivePageActivity" />
        </activity>
        <activity
            android:name=".activities.OTPActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ScheduleActivity" />
        <activity android:name=".activities.AddressActivity" />
        <activity android:name=".activities.NumberOfClothes" />
        <activity
            android:name=".activities.SuccessActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyJobService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.PriceActivity"
            android:label="Pricing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.FeedbackActivity" />
        <activity android:name=".activities.HistoryActivity" />
        <activity
            android:name=".activities.FAQActivity"
            android:label="@string/title_activity_faq"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.PlaceOrderActivity">

        </activity>
    </application>

</manifest>